body {
    margin: 0;
    padding: 0;
    background: #0e0017;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    margin-top: 120px;
}

h1 {
    font-size: 50px;
    color: #c26bff;
    text-shadow: 0 0 20px #b300ff;
}

.neon-select {
    padding: 12px;
    font-size: 18px;
    background: rgba(50, 0, 80, 0.45);
    border: 2px solid #c26bff;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px #9b2cff;
}

.neon-button {
    padding: 12px 24px;
    font-size: 18px;
    background: black;
    color: #d59aff;
    border: 2px solid #c26bff;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 15px #8d29ff;
}

.neon-button:hover {
    background: #2b0052;
    box-shadow: 0 0 25px #c26bff;
}

/* Loading Screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 0, 25, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #d59aff;
    backdrop-filter: blur(3px);
    text-shadow: 0 0 15px #c26bff;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Checkmark */
.checkmark {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s;
}

.checkmark img {
    width: 160px;
    filter: drop-shadow(0 0 20px #b300ff);
}

/* Final form */
.final-form {
    text-align: center;
    margin-top: 100px;
    transition: opacity 1s;
}

.final-form label {
    display: block;
    font-size: 22px;
    margin-top: 20px;
    color: #c26bff;
    text-shadow: 0 0 10px #b300ff;
}

.textbox {
    width: 300px;
    padding: 12px;
    background: rgba(60, 0, 80, 0.4);
    border: 2px solid #8f2cff;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px #8d29ff;
}
